#h1_style {
    text-align: center;
    color: #ffffff;
    border-radius: 100px 0 100px 0;
    width: 800px;
    height: 50px;
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px 0 15px 0;
}

body {
    background: #646464;
}

#emp_nav {
    width:800px;
    text-align: left;
    padding:5px 10px;
    border-top:0px solid;
    margin:0px 0px 0px 0px;
}

#emp_nav nav{
    border-top: 5px solid #000;
    border-bottom: 5px solid #ff006c;
    background: #000;
}

#emp_nav nav ul{
    overflow:hidden;
    list-style: none;
    margin: 2px 5px 0px 5px;
    padding:0px 0px 0px 0px;
    max-width:800px;
}

#emp_nav nav li{
    box-sizing: border-box;
    float:left;
    border-right: 1px solid #000;
    width:25%
}
#emp_nav nav li:last-child{
    border-right: 0;
}
#emp_nav nav a{
    color:#fff;
    text-decoration: none;
    display: block;
    padding:10px 0;
    width:100%;
    text-align: center;
    font-size: 16px;
    border-radius: 50px 10px 0 0;
}
#emp_nav nav a:hover{
    background: #ff006c;
    color:#000;
}

#emp_nav .current{
    background: #ff006c;
    color:#000;
}

#section1 {
    width: 800px;
    height: 1000px;
    margin: 0px 15px 10px 15px;
    padding: 10px 5px 10px 5px;
    background: #ffffff;
}



footer {
    color: #ffffff;
    width: 800px;
    background: #989898;
    margin: 0px 15px 0px 15px;
    padding: 1px 5px 1px 5px;
}